/* Navigation Link */
.custom_text {
  color: #0e1720;
  font-size: 16px;
  font-weight: normal;
}

.header_text {
  color: #0e1720;
  font-size: 30px;
  font-family: Public Sans;
  font-weight: bold;
}
